{% extends 'base_template.html' %}

{% block header %}
{% load staticfiles %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="starter-template">
        <div id="status"></div>
        <div class="input-group" id="new-tweet">
            <input type="text" class="form-control" placeholder="Tweet what you think" id="newTweetText">
            <span class="input-group-button">
                <button class="btn btn-secondary" type="button" id="publishTweet">Publish</button>
            </span>
        </div>
        <div>
            <table class="table" id="myTweets">
                <thead class="thead-default">
                <tr>
                    <th class="id">Id</th>
                    <th class="tweet">Tweet</th>
                    <th class="likes">Likes</th>
                    <th class="shares">Shares</th>
                    <th id="retweetHeader" class="retweet-tweet"></th>
                    <th id="deleteHeader" class="delete-tweet"></th>
                </tr>
                </thead>
                <tbody id="tweetBody">
                </tbody>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}