body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#new-tweet {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
#fb-login {
    width: 230px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
}
table {
  width: 80%;
  margin-top: 10px;
}
th.likes, th.shares {
  width: 10%;
  text-align: center;
}
th.delete-tweet{
    width: 20%;
    text-align: center;
}
th.retweet-tweet {
    width: 20%;
    text-align: center;
}
th.id {
    text-align: center;
    display: none;
}
th.tweet {
  width: 40%;
  text-align: center;
}